@media (max-width: 831px) {
  .projects__filter {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 831px) {
  .projects__filter {
    padding-left: 20px;
    padding-right: 20px;
  }
}