@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none !important;
}

ul,
ol,
li,
button,
p {
  margin: 0 !important;
  padding: 0 !important;
}

.switch-btn button {
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
}

.switch-txt {
  color: red !important;
}

/* switch */
.css-13cymwt-control {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  /* border-color: #fff !important; */
  width: 60px !important;
}

/* placeholder */
.css-1dimb5e-singleValue,
.css-1fdsijx-ValueContainer {
  color: #fff !important;
}

.css-1jqq78o-placeholder {
  color: #fff !important;
}

/* click class */
.css-t3ipsp-control {
  background: transparent !important;
  outline: none !important;
  border: none !important;
  /* border-color: #fff !important; */
  color: #000 !important;
}

.css-t3ipsp-control:active,
.css-t3ipsp-control:focus,
.css-13cymwt-control:active,
.css-13cymwt-control:focus {
  border: none !important;
  outline: none !important;
}

/* switch arrow */
.css-1hb7zxy-IndicatorsContainer {
  outline: none !important;
  display: none !important;
}

.slider__main-1 {
  background-image: url(../../public/images/image\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.slider__main-2 {
  background-image: url(../../public/images/image\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.slider__main-3 {
  background-image: url(../../public/images/image\ 3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-caption {
  position: absolute;
  right: 15% !important;
  bottom: 1.25rem !important;
  left: 0% !important;
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
  padding-left: 1rem !important;
  color: #fff !important;
  text-align: left !important;
  width: 530px !important;

  border-radius: 0px 20px 20px 0px !important;
  background: rgba(255, 255, 255, 0.6) !important;
  backdrop-filter: blur(8.5px) !important;
  color: #000 !important;
}

.carousel-indicators {
  margin-top: 150px !important;
  display: flex !important;
  align-items: center !important;
  gap: 10px;
}

.carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100% !important;
}

.carousel-control-prev {
  left: -60px !important;
}

.carousel-control-next {
  right: -60px !important;
}

/* Projects */
.project-subtitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
