.menu__burger {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7px;
  cursor: pointer;
  position: relative;
  z-index: 9999;
  display: none;
}

.menu__line {
  height: 1px;
  width: 25px;
  background-color: #fff;
}

#header .header__info {
  position: relative;
  z-index: 999;
  transition: all 1s !important;
  /* overflow-x: hidden; */
}

.active__menu {
  position: absolute;
  visibility: visible !important;
  opacity: 1 !important;

  top: 0% !important;
  left: 0 !important;

  transition: all 1s !important;
}

.logo {
  position: relative;
  z-index: 10000;
}

@media (max-width: 971px) {
  #header .header__info {
    position: absolute;
    /* visibility: hidden;
    opacity: 0; */
    z-index: 999 !important;

    top: -100%;
    left: 0 !important;
    /* right: -100%; */

    height: 120%;
    width: 100%;

    background-color: #c30f08 !important;
    transition: all 1s !important;

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu__burger {
    display: flex;
  }

  #header .header__info nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 831px) {
  #header {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 831px) {
  #header {
    padding-left: 20px;
    padding-right: 20px;
  }
}